<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/layout :: header">
	
    <title th:text="Define RAN/RAD/SDGs Indicator"></title>
</head>
<body>
    <div th:include="admin/layout :: menu"></div>
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Define RAN/RAD/SDGs Indicator</a></div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-tasks"></i></span>
                        <h5 class="lang_eng" style="display:none">List Ran/RAD</h5>
                        <h5 class="lang_indo">Daftar RAN/RAD</h5>
                    </div>
                    <div class="widget-content">
                    	<div class="row-fluid">
                    		<div class="span6">
                    			<div class="input-append">
								  <input placeholder="Search..." class="span12" id="text-cari" type="text"/>
								  <span class="add-on"><i class="icon-search"></i></span>
								</div>
                    		</div>
                    		<div class="span6" align="right">
                    			<button data-toggle="modal" data-target="#myModal" class="btn btn-primary">
                    				<i class="icon-plus"></i> 
                    					<span class="lang_eng" style="display:none">Add RAN/RAD</span>
                    					<span class="lang_indo">Tambah RAN/RAD</span>
                    			</button>
                    		</div>
                    	</div>
                    	<br/>
                        <div class="row-fluid">
                            <div class="span12">
                            	<div class="table-responsive">
                                <table class="table table-bordered table-striped" id="tabel-goals">
                                    <thead>
                                        <tr class="lang_eng" style="display:none">
                                            <th style="text-align:center;font-size:80%;">No</th>
                                            <th style="text-align:center;font-size:80%;">Period Year</th>
                                            <th style="text-align:center;font-size:80%;">Monitoring Period</th>
                                            <th style="text-align:center;font-size:80%;">Status</th>
                                            <th style="text-align:center;font-size:80%;">Action</th>
                                        </tr>
                                        <tr class="lang_indo">
                                            <th style="text-align:center;font-size:80%;">No</th>
                                            <th style="text-align:center;font-size:80%;">Periode Tahun</th>
                                            <th style="text-align:center;font-size:80%;">Periode Monitoring</th>
                                            <th style="text-align:center;font-size:80%;">Status</th>
                                            <th style="text-align:center;font-size:80%;">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody-goals">
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 class="lang_eng" style="display:none">Add Period & Monitoring Period</h3>
			    <h3 class="lang_indo">Tambah Periode & Periode Monitoring</h3>
		  	</div>
			<div class="modal-body">
				<form id="form-sdgGoals" class="form-horizontal">
				  <fieldset>
				    <label class="lang_eng control-label" style="display:none"><b>Period</b></label>
				    <label class="lang_indo control-label"><b>Periode</b></label>
				    <div class="controls">
				    	<input id="id_monper" name="id_monper" class="input-medium" type="hidden"/>
					    <input id="start_year" name="start_year" class="input-small" type="text"/>
					    -
					    <input id="end_year" name="end_year" class="input-small" type="text"/>
				    </div>
				  </fieldset>
				  <div class="control-group">
				  	<label class="lang_eng control-label" style="display:none"><b>Monitoring Period</b></label>
				    <label class="lang_indo control-label"><b>Periode Monitoring</b></label>
				  </div>
				  <div class="control-group">
				    <label class="lang_eng control-label" style="display:none;text-align:left">SDGs Indicator</label>
				    <label class="lang_indo control-label" style="text-align:left">Indikator SDG</label>
				    <div class="controls">
				    	<select id="sdg_indicator" name="sdg_indicator">
				    		<option value="">select</option>
				    		<option value="yearly">Yearly</option>
				    		<option value="semesterly">Semesterly</option>
				    		<option value="quarterly">Quarterly</option>
				    	</select>
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="lang_eng control-label" style="display:none;text-align:left">Govt. Program</label>
				    <label class="lang_indo control-label" style="text-align:left">Program Pemerintah</label>
				    <div class="controls">
				    	<select id="gov_prog" name="gov_prog">
				    		<option value="">select</option>
				    		<option value="yearly">Yearly</option>
				    		<option value="semesterly">Semesterly</option>
				    		<option value="quarterly">Quarterly</option>
				    	</select>
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="lang_eng control-label" style="display:none;text-align:left">Non Govt. Program</label>
				    <label class="lang_indo control-label" style="text-align:left">Program Non Pemerintah</label>
				    <div class="controls">
				    	<select id="nsa_prog" name="nsa_prog">
				    		<option value="">select</option>
				    		<option value="yearly">Yearly</option>
				    		<option value="semesterly">Semesterly</option>
				    		<option value="quarterly">Quarterly</option>
				    	</select>
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="lang_eng control-label" style="display:none">Govt. Program Budget</label>
				    <label class="lang_indo control-label" style="text-align:left">Budget Program Pemerintah</label>
				    <div class="controls">
				    	<select id="gov_prog_bud" name="gov_prog_bud">
				    		<option value="">select</option>
				    		<option value="yearly">Yearly</option>
				    		<option value="semesterly">Semesterly</option>
				    		<option value="quarterly">Quarterly</option>
				    	</select>
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="lang_eng control-label" style="display:none;text-align:left">Non Govt. Program Budget</label>
				    <label class="lang_indo control-label" style="text-align:left">Budget Program Non Pemerintah</label>
				    <div class="controls">
				    	<select id="nsa_prog_bud" name="nsa_prog_bud">
				    		<option value="">select</option>
				    		<option value="yearly">Yearly</option>
				    		<option value="semesterly">Semesterly</option>
				    		<option value="quarterly">Quarterly</option>
				    	</select>
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="lang_eng control-label" style="display:none;text-align:left">Problem Identification</label>
				    <label class="lang_indo control-label" style="text-align:left">Identifikasi Masalah</label>
				    <div class="controls">
				    	<select id="ident_problem" name="ident_problem">
				    		<option value="">select</option>
				    		<option value="yearly">Yearly</option>
				    		<option value="semesterly">Semesterly</option>
				    		<option value="quarterly">Quarterly</option>
				    	</select>
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="lang_eng control-label" style="display:none;text-align:left">Best Practice</label>
				    <label class="lang_indo control-label" style="text-align:left">Praktik Terbaik</label>
				    <div class="controls">
				    	<input id="best_pract" name="best_pract" type="text"/>
				    </div>
				  </div>
				  <div class="control-group">
				    <label class=" control-label" style="text-align:left">Status</label>
				    <div class="controls">
				    	<input id="status" name="status" type="text"/>
				    </div>
				  </div>
				</form>
			</div>
			<div class="modal-footer">
		    	<button class="btn" data-dismiss="modal" aria-hidden="true">
		    		<span class="lang_eng" style="display:none">Close</span>
		    		<span class="lang_indo">Tutup</span>
		    	</button>
		    	<button class="btn btn-primary" id="submit">
		    		<span class="lang_eng" style="display:none">Submit</span>
		    		<span class="lang_indo">Simpan</span>
		    	</button>
		  	</div>
		</div>
    </div>
    <div th:include="admin/layout :: footer"></div>
</body>
<script th:inline="javascript" >
	// <![CDATA[
		//$(document).ready(function (e) {
			var token = $("meta[name='_csrf']").attr("content");
	        var header = $("meta[name='_csrf_header']").attr("content");
	        
	        //Bahasa
	        $('#fs').on('change', function(e){
	        	if($(this).is(':checked')){
	        		$(".lang_indo").show();
	        		$(".lang_eng").hide();
	        	}else{
	        		$(".lang_indo").hide();
	        		$(".lang_eng").show();
	        	}
	        });
			
			var table = $('#tabel-goals').DataTable({
				responsive: true,
				sDom: 'lrtip',
				"bLengthChange": false,
				"cache": false,
				"autoWidth": true,
				"responsive":true,
				"ajax": {
					"url": urls+'list-monPer/00',
					dataSrc: 'content',
				},
				"searching": true,
				"columns": [
					{"data": function (row, data, index, display) {
							return "<div style='font-size:90%;'>"+(display.row+1)+"</div>";
						}},
					{"data": function (row, data, index, display) {
							return "<div style='font-size:90%;'>"+row.start_year+" - "+row.end_year+"</div>";
						}},
						{"data": function (row, data, index, display) {
							return "<div style='font-size:90%;'>"+row.sdg_indicator+"</div>";
						}},
					{"data": function (row, data, index, display) {
							return "<div style='font-size:90%;'>"+row.status+"</div>";
						}},
					{"data": function (row, data, index, display) {
							return "<div style='text-align:center;'>"+
							'<button data-id="'+row.id_monper+'" type="button" title="detail" class="btn btn-success btn-mini detail"><i class="icon-edit"></i></button>'+
							'<button data-id="'+row.id_monper+'" type="button" title="update" class="btn btn-warning btn-mini update"><i class="icon-pencil"></i></button>'+
                            '<button type="button" title="delete" class="btn btn-danger btn-mini"><i class="icon-trash"></i></button></div>';
						}}
				],
				"columnDefs": [
				],
				select: true
			});	
			
			$('#text-cari').on( 'keyup', function () {
				var val=$(this).val();
				table.search(val).draw();
			});
			
			function clearForm(){
				$('#id_goals').val("").removeAttr("readonly");
				$('#nm_goals').val("").removeAttr("readonly");
			}
			
			$('#myModal').on('hidden.bs.modal',function(){
				clearForm();
			});
			
			$('#submit').on('click', function(){
				var id_goals = $('#id_goals').val();
				var nm_goals = $('#nm_goals').val();
				var data = JSON.stringify({'id_goals':id_goals,'nm_goals':nm_goals});
				$.ajax({
					type: "POST",
                    url: urls+'save-sdgGoals',
                    beforeSend : function(xhr){
                    	xhr.setRequestHeader(header,token);
                    },
                    headers:{'Accept':'application/json','Content-Type':'application/json'},
					data: data,
                    success: function (result) {
                    	table.ajax.url(urls+'list-sdgGoals').load();
                    	$('#myModal').modal('hide');
                    },
                });
			});
			
			$('#tbody-goals').on('click', '.update', function(){
				var id = $(this).attr('data-id');
				$.ajax({
					type: "GET",
                    url: urls+'get-sdgGoals/'+id,
                    success: function (result) {
                    	var val = result.content;
                    	$('#id_goals').val(val.id_goals).attr("readonly",true);
        				$('#nm_goals').val(val.nm_goals);
						$('#myModal').modal('show');
                    },
                })
             }).on('click', '.detail', function(){
				var id = $(this).attr('data-id');
				$.ajax({
					type: "GET",
                    url: urls+'get-sdgGoals/'+id,
                    success: function (result) {
                    	var val = result.content;
                    	$('#id_goals').val(val.id_goals).attr("readonly",true);
        				$('#nm_goals').val(val.nm_goals).attr("readonly",true);
						$('#myModal').modal('show');
                    },
                })
             });
		//});
		// ]]>
</script>
</html>