<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/layout :: header">
    <title th:text="NSA Profile"></title>
</head>
<body>
    <div th:include="admin/layout :: menu"></div>
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>NSA / Profile</a></div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-tasks"></i></span>
                        <h5>Table Profil NSA</h5>
                    </div>
                    <div class="widget-content">
                        <div class="row-fluid">
                            <div class="span12">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;font-size:80%;">No.</th>
                                            <th style="text-align:center;font-size:80%;">Pencapaian</th>
                                            <th style="text-align:center;font-size:80%;">Lokasi</th>
                                            <th style="text-align:center;font-size:80%;">Penerima Manfaat</th>
                                            <th style="text-align:center;font-size:80%;">Thn Implementasi</th>
                                            <th style="text-align:center;font-size:80%;">Partner</th>
                                            <th style="text-align:center;font-size:80%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="font-size:90%;">
                                            <td style="text-align:center;">1.</td>
                                            <td>Nomenklatur Pencapaian</td>
                                            <td>Jawa Tengah</td>
                                            <td>Masyarakat</td>
                                            <td style="text-align:center;">2019</td>
                                            <td>Kementerian Pendidikan</td>
                                            <td style="text-align:center;">
                                                <button type="submit" title="update" class="btn btn-warning btn-mini"><i class="icon-pencil"></i></button>
                                                <button type="submit" title="detail" class="btn btn-success btn-mini"><i class="icon-edit"></i></button>
                                                <button type="submit" title="delete" class="btn btn-danger btn-mini"><i class="icon-eraser"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="admin/layout :: footer"></div>
</body>
</html>