#divkiri, #divkanan {
    border-style: dotted;
    border-color: rgb(62 193 233);
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ================== Tree Kiri ================== */
#olgoals > li {
	cursor: pointer;
}

#olgoals > li > ul > li {
	cursor: pointer;
}

#olgoals > li > ul > li > ul > li {
	cursor: pointer;
}