<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <head th:include="admin/layout :: header">
    <title th:text="SDG Indicator Monitoring">SDG Indicator Monitoring</title>
    <style>
    .pointer {cursor: pointer;}
    </style>
</head>
<body>
    <div th:include="admin/layout :: menu"></div>

<!--  Content  -->
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb" class="lang_eng" style="display: none"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Input Data / SDG Indicators Monitoring</a></div>
            <div id="breadcrumb" class="lang_indo"> <a href="#" title="Ke Home" class="tip-bottom"><i class="icon-home"></i>Input Data / Monitor Indikator SDG</a></div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="widget-box">
                    <div class="widget-title lang_eng" id="judul-eng" style="display: none">
                        <span class="icon"><i class="icon-tasks"></i></span>
                        <h5>Table SDG Indicators Monitoring</h5>
                    </div>
                    <div class="widget-title lang_indo" id="judul-indo">
                        <span class="icon"><i class="icon-tasks"></i></span>
                        <h5>Tabel Monitor Indikator SDG</h5>
                    </div>
                    <div class="widget-content">
                        <div class="pull-left" style="width:100%">
                            <select id="nm_ins_profil" name="idrole" class="form-control">
                                <option value="0" >-- Pilih Daerah --</option>
                                <option th:each="f:${listInsProfile}" th:value="${f.id_inst}" th:text="${f.nm_inst}"></option>
                            </select>
                            <select id="nm_ins_profil" name="idrole" class="form-control">
                                <option value="0" >-- Pilih Role --</option>
                                <option th:each="f:${listInsProfile}" th:value="${f.id_inst}" th:text="${f.nm_inst}"></option>
                            </select>
<!--                            <div class="lang_indo"><span> Periode</span></div>
                            <div class="lang_eng"><span> Period</span></div>-->
                            <select id="nm_ins_profil" name="idrole" class="form-control">
                                <option value="0" >-- Pilih Periode --</option>
                                <option th:each="f:${listInsProfile}" th:value="${f.id_inst}" th:text="${f.nm_inst}"></option>
                            </select>
<!--                            <div class="btn-toolbar lang_eng" style="float:right; display: none" id="btn_eng">
                                <button class="btn btn-warning btn-small tambah">
                                    Add New
                                </button>
                                <button class="btn btn-success btn-small">Import</button>
                                <button class="btn btn-primary btn-small">Export</button>
                            </div>
                            <div class="btn-toolbar lang_indo" style="float:right" id="btn_indo">
                                <button class="btn btn-warning btn-small tambah">
                                    Tambah Baru
                                </button>
                                <button class="btn btn-success btn-small">Impor</button>
                                <button class="btn btn-primary btn-small">Ekspor</button>
                            </div>-->
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                            </div>
                            <div class="span6" align="right">
                                <div class="input-append">
                                    <input placeholder="Search..." class="span10" id="text-cari" type="text"/>
                                    <span class="add-on"><i class="icon-search"></i></span>
                                </div>
                            </div>
                    	</div>
                        <div class="row-fluid">
                            <div class="span12">
                                <table  id="tabel-entri-sdg" class="table table-striped table-bordered">
                                    <thead >
                                        <tr class="lang_eng" style="display: none">
                                            <th colspan="8" style="text-align:left;font-size:80%;">Goal Name :</th>
                                        </tr>
                                        <tr class="lang_indo" id="thead_indo">
                                            <th colspan="8" style="text-align:left;font-size:80%;">Nama Tujuan :</th>
                                        </tr>
                                        <tr class="lang_eng" style="display: none">
                                            <th colspan="8" style="text-align:left;font-size:80%;">Target Name :</th>
                                        </tr>
                                        <tr class="lang_indo" id="thead_indo">
                                            <th colspan="8" style="text-align:left;font-size:80%;">Nama Target :</th>
                                        </tr>
                                        <tr class="lang_eng" style="display: none">
                                            <th style="text-align:center;font-size:80%;">Indicator Code</th>
                                            <th style="text-align:center;font-size:80%;">Indicator Name</th>
                                            <th style="text-align:center;font-size:80%;">Data Source</th>
                                            <th style="text-align:center;font-size:80%;">Unit</th>
                                            <th style="text-align:center;font-size:80%;">Baseline</th>
                                            <th style="text-align:center;font-size:80%;">Target SDGs For The Current Year</th>
                                            <th style="text-align:center;font-size:80%;">SDGs Achievements For The Year</th>
                                            <th style="text-align:center;font-size:80%;">Status</th>
                                        </tr>
                                        <tr class="lang_indo" id="thead_indo">
                                            <th style="text-align:center;font-size:80%;">Kode Indikator</th>
                                            <th style="text-align:center;font-size:80%;">Nama Indikator</th>
                                            <th style="text-align:center;font-size:80%;">Sumber Data</th>
                                            <th style="text-align:center;font-size:80%;">Unit</th>
                                            <th style="text-align:center;font-size:80%;">Garis Dasar</th>
                                            <th style="text-align:center;font-size:80%;">Target SDG Tahun Ini</th>
                                            <th style="text-align:center;font-size:80%;">Pencapaian SDG Tahun Ini</th>
                                            <th style="text-align:center;font-size:80%;">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_entri-sdg">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar lang_eng" style="float:right; display: none" id="btn_eng">
                <button class="btn btn-success btn-small">Apply</button>
            </div>
            <div class="btn-toolbar lang_indo" style="float:right" id="btn_indo">
                <button class="btn btn-success btn-small">Terapkan</button>
            </div>
        </div>
        <div class="modal fade addModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title lang_indo" id="exampleModalLabel">Monitor Indikator SDG</h3>
                        <h3 class="modal-title lang_eng" id="exampleModalLabel" style="display: none">SDG Indicators Monitoring</h3>
                    </div>
                    <form class="form-horizontal">
                        <div class="modal-body">
                            <div class="control-group">
                                <label for="nm_inst" class="lang_indo">Pencapaian SDG Tahun Ini :</label>
                                <label for="nm_inst" class="lang_eng" style="display: none">SDGs Achievements For The Year :</label>
                                <input name="achievement1" id="achievement1" type="text" class="input-block-level">
                                <input name="id_sdg_indicator" id="id_sdg_indicator" type="hidden" class="input-block-level">
                            </div>
                        </div>
                        <div class="modal-footer" id="simpan_">
                            <button type="button" class="btn btn-secondary lang_indo" data-dismiss="modal">Tutup</button>
                            <button type="button" class="btn btn-secondary lang_eng" data-dismiss="modal" style="display: none">Close</button>
                            <button type="button" id="simpan" class="btn btn-success lang_indo">Simpan</button>
                            <button type="button" id="simpan" class="btn btn-success lang_eng" style="display: none">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:include="admin/layout :: footer"></div>
    

</body>

<script th:inline="javascript" >
    // <![CDATA[
            //$(document).ready(function (e) {
            
            //Bahasa
            var titleDel = "Anda Yakin";
            var messDel = "Menghapus Data?";
            var buttDel = 'Ya, Hapus data ini!';
            var titleOk	= "Hapus";
            var messOk = "Data berhasil dihapus";
            var messNOk = "Data tidak dapat dihapus";
            $('#fs').on('change', function(e){
                    if($(this).is(':checked')){
                            $(".lang_indo").show();
                            $(".lang_eng").hide();
                            titleDel = "Anda Yakin";
                            messDel = "Menghapus Data?";
                            buttDel = 'Ya, Hapus data ini!';
                            titleOk	= "Hapus";
                    messOk = "Data berhasil dihapus";
                    messNOk = "Data tidak dapat dihapus";
                    }else{
                            $(".lang_indo").hide();
                            $(".lang_eng").show();
                            titleDel = "Are you sure";
                            messDel = "Delete this data?";
                            buttDel = 'Yes, Delete this data!';
                            titleOk	= "Delete";
                    messOk = "Delete successful";
                    messNOk = "Can't delete data";
                    }
            });
            
            
//            $("#nm_ins_profil").on('change', function(e){
//                var id = this.value ;
//                $('#tabel-ins-profile').DataTable({
//                    responsive: true,
//                    sDom: 'lrtip',
//                    "bLengthChange": false,
//                    "cache": false,
//                    "autoWidth": true,
//                    "responsive":true,
//                    "bDestroy": true,
//                    "ajax": {
//                        "url": urls+'list-getid-ins-profil/'+id,
//                        dataSrc: 'content',
//                    },
//                    "searching": true,
//                    "columns": [
//                        {"data": function (row, data, index, display) {
//                        return "<div style='font-size:90%;'>"+(display.row+1)+"</div>";
//                        }},
//                        {"data": function (row, data, index, display) {
//                            return "<div style='font-size:90%;'>"+row.achievement+"</div>";
//                        }},
//                        {"data": function (row, data, index, display) {
//                            return "<div style='font-size:90%;'>"+row.loc_inst+"</div>";
//                        }},
//                        {"data": function (row, data, index, display) {
//                            return "<div style='font-size:90%;'>"+row.beneficiaries+"</div>";
//                        }},
//                        {"data": function (row, data, index, display) {
//                            return "<div style='font-size:90%;'>"+row.year_impl+"</div>";
//                        }},
//                        {"data": function (row, data, index, display) {
//                            return "<div style='font-size:90%;'>"+row.major_part+"</div>";
//                        }},
//                        {"data": function (row, data, index, display) {
//                            var dataid = row.id_inst+'###'+row.nm_inst+'###'+row.achievement+'###'+row.loc_inst+'###'+row.beneficiaries+'###'+row.year_impl+'###'+row.major_part;
//                            return "<div style='text-align:center;'>"+'<button data-id="'+dataid+'" type="button" title="Update" class="btn btn-success btn-mini update"><i class="icon-save"></i></button>'+
//                            '<button data-id="'+dataid+'" type="button" title="Detail" class="btn btn-warning btn-mini detail"><i class="icon-time"></i></button>'+
//                            '<button data-id="'+row.id_inst+'" type="button" title="Delete" class="btn btn-danger btn-mini delete"><i class="icon-trash"></i></button></div>';
//                        }}
//                    ],
//                    "columnDefs": [
//                    ],
//                    select: true
//                });	
//            });
            

            var table = $('#tabel-entri-sdg').DataTable({
                responsive: true,
                sDom: 'lrtip',
                "bLengthChange": false,
                "cache": false,
                "autoWidth": true,
                "responsive":true,
                "bDestroy": true,
                "ajax": {
                    "url": urls+'list-entry-sdg',
                    dataSrc: 'content',
                },
                "searching": true,
                "columns": [
                    {"data": function (row, data, index, display) {
                        return "<div style='font-size:90%;'>"+row[0]+"</div>";
                    }},
                    {"data": function (row, data, index, display) {
                        return "<div style='font-size:90%;'>"+row[3]+"</div>";
                    }},
                    {"data": function (row, data, index, display) {
                        return "<div style='font-size:90%;'>"+row[11]+"</div>";
                    }},
                    {"data": function (row, data, index, display) {
                        return "<div style='font-size:90%;'>"+row[4]+"</div>";
                    }},
                    {"data": function (row, data, index, display) {
                        return "<div style='font-size:90%;'>"+row[10]+"</div>";
                    }},
                    {"data": function (row, data, index, display) {
                        return "<div style='font-size:90%;'>"+row[5]+"</div>";
                    }},
                    {"data": function (row, data, index, display) {
                        if(row[13] == null || row[13] == ""){
                            return '<a data-id="'+row[0]+'###'+row[13]+'" title="Update" class="update" href="#"><i class="icon-edit"></i>'+" - "+'</a>';
                        }else{
                            return '<a data-id="'+row[0]+'###'+row[13]+'" title="Update" class="update" href="#"><i class="icon-edit "></i>'+" "+row[13]+"</a>";
                        }
                    }},
                    {"data": function (row, data, index, display) {
                        if(row[13] == null || row[13] == ""){
                            return '';
                        }else{
                            if(row[14] == null || row[14] == ""){
                                var check = "";
                            }else{
                                var check = "checked";
                            }
                            var ceklis      = '<input type="checkbox" class="myCheck" id="myCheck'+row[0]+'" data-id ="'+ row[0] +'" '+check+'>';
                            return ceklis;
                        }
                        
                    }}
                ],
                "columnDefs": [
                ],
                select: true
            });	

            $('#text-cari').on( 'keyup', function () {
                var val=$(this).val();
                table.search(val).draw();
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            
            $("#tabel-entri-sdg").on('click', '.myCheck', function () {
                var dataid      = $(this).attr('data-id');
                var checkBox    = document.getElementById("myCheck"+dataid);
                
            });
            
            $('#simpan_').on('click', '#simpan', function(e){
                var id_sdg_indicator    = $('#id_sdg_indicator').val();
                var achievement1        = $('#achievement1').val();
                var year                = new Date().getFullYear();
                var data    = JSON.stringify({
                                'id': null,
                                'id_sdg_indicator': id_sdg_indicator,
                                'achievement1': achievement1,
                                'achievement2': '0',
                                'achievement3': '0',
                                'achievement4': '0',
                                'new_value1': '0',
                                'new_value2': '0',
                                'new_value3': '0',
                                'new_value4': '0',
                                'approval': '',
                                'approval_date': null,
                                'show_report_date': null,
                                'year_entry': year,
                                'id_role': '1',
                                'created_by': '0',
                                'date_created': null
                            });
                $.ajax({
                    type: "POST",
                    url: urls+'save-entry-sdg',
                    beforeSend : function(xhr){
                    	xhr.setRequestHeader(header,token);
                    },
                    headers:{'Accept':'application/json','Content-Type':'application/json'},
                    data: data,
                    success: function (result) {
                        window.location = urls+"sdg-indicator-monitoring";
                    	$('.addModal').modal('hide');
                    },
                });
            });
            
            $('#tabel-entri-sdg').on('click', '.update', function(){
                var dataid  = $(this).data('id');
                var data    = dataid.split('###');
                
                if(data[1] == 'null'){
                    var achieve = '';
                }else{
                    var achieve = data[1];
                }
                $('#id_sdg_indicator').val(data[0]);
                $('#achievement1').val(achieve);
                
                $('.addModal').modal("show");
                $('#simpan_').show();
            });
            
            

        //});
    // ]]>
</script>
</html>